<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Troll Market</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/w3.css}"/>
    <link rel="icon" th:href="@{/winterhold.ico}" type="image/ico"/>
    <link rel="icon" href="../static/image/TrollMarket.jpg" type="image/ico"/>
    
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="../static/css/site.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="main-body">
<nav th:fragment="navigation">
    <!-- header for welcome sign -->
    <header class="header">
        <p class="w3-right">Welcome, Irfan Rahmanindra <a class=" w3-button" href="#home"><i class="fa fa-sign-out"></i>
            Sign Out</a></p>
        <h1>Troll Market</h1>
    </header>
 
        <div class="w3-center w3-white w3-card w3-small" id="myNavbar">
            <!-- Right-sided navbar links -->
            <div class="w3-center w3-hide-small">
                <a th:href="@{/profile/home}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
                <a class="w3-bar-item w3-button" href="#profile"><i class="fa fa-user"></i> PROFILE</a>
                <a class="w3-bar-item w3-button" href="#team"><i class="fa fa-usd"></i> SHOP</a>
                <a class="w3-bar-item w3-button" href="#work"><i class="fa fa-gift "></i> MERCHANDISE</a>
                <a class="w3-bar-item w3-button" href="#pricing"><i class="fa fa-ship"></i> SHIPMENT</a>
                <a class="w3-bar-item w3-button" href="#contact"><i class="fa fa-shopping-cart"></i> MY CART</a>
                <a class="w3-bar-item w3-button" href="#contact"><i class="fa fa-user-circle-o "></i> ADMIN</a>
                <a class="w3-bar-item w3-button" href="#contact"><i class="fa fa-history"></i> HISTORY</a>
            </div>
        </div>
   
</nav>
<!-- Breadcrumbs -->
<div class="bread-crumbs w3-white w3-card">
    <span th:text="${breadCrumbs}"></span>
    <h1 class="bread-crumbs w3-large">Home</h1>
</div>

<!-- Header with full-height image -->


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64" th:fragment="footer">
    Copyrights &copy; 2022
    <span class="author">Irfan R</span>
    All rights reserved.
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>

<th:block th:fragment="javascript">
    <script th:src="@{/js/site.js}"></script>
</th:block>

</body>
</html>
